#form input[type="button"] {
    height: 57px;
    background-color: #dadbb5;
    border-radius: 24px;
    border: none;
    margin-left: 37px;
    font-size: 16px;
    width: calc(100% - 70px);
    margin-top: 25px;
}

#form {
    width: 400px;
    height: 320px;
    border-radius: 25px;
    background-color: #90ae85;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 10%; /* Добавляем отступ сверху */
    padding-top: 50px;
    padding-bottom: 50px;
}

#form input[type="text"],
#form input[type="password"] {
    padding-left: 2%;
}

label,
input,
button {
    margin-bottom: 10px;
    margin-left: 37px;
    margin-top: 10px;
}

#registration {
    display: inline-block;
    background-color: #90ae85;
    border-radius: 24px;
    text-decoration: none;
    color: black;
    margin-top: 40px;
    margin-left: auto; /* Выравниваем по правому краю */
    margin-right: auto; /* Выравниваем по левому краю */
    text-align: center; /* Выравниваем содержимое по центру */
    display: block; /* Делаем элемент блочным */
}

#login,
#password {
    width: calc(100% - 78px); /* Вычисляем ширину, учитывая отступ слева */
    height: 50px;
    border-radius: 24px;
    border: none;
}

#login {
    margin-bottom: 20px; /* Добавляем отступ снизу */
}

#mainBodySection {
    height: 64vh;
}
